<mat-card class="card--container">
  <mat-card-header>
    <mat-card-title class="title--card">{{ product?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content--card"
    ><p>{{ product?.description }}</p></mat-card-content
  >
  <img mat-card-image src="{{ product?.urlImage }}" class="img--card" />
  <h2 class="price--card">$ {{ product?.price }}</h2>
  <h4>Available quantity: {{ product?.quantity }}</h4>

  <ng-template [ngIf]="(product?.quantity ?? 0) > 0" [ngIfElse]="soldOut">
    <div class="add--actions">
      <i
        class="material-icons"
        *ngIf="(quantityToBuy ?? 0) > 1"
        (click)="decreaseQuantity()"
        >remove_circle</i
      >

      <h4>Units to add: {{ quantityToBuy }}</h4>
      <i
        class="material-icons"
        *ngIf="(this.product?.quantity ?? 0) > this.quantityToBuy"
        (click)="increaseQuantity()"
        >add_circle</i
      >
    </div>
    <mat-card-actions>
      <button mat-flat-button color="primary" *ngIf="show" (click)="addCart()">Add cart</button>
    </mat-card-actions>
  </ng-template>
  <ng-template #soldOut>
    <mat-card-actions>
      <button mat-button disabled>Sold out</button>
    </mat-card-actions>
  </ng-template>
</mat-card>
