<div class="main--container">
  <div class="order-container">
    <app-title-page [title]="'Thank you for purchasing'"></app-title-page>
    <app-title-page [title]="'Order id: ' + orderGenerated?.id"></app-title-page>
    <h3 class="products--title">Products:</h3>
    <app-products-list
      [products]="orderGenerated?.products || []"
    ></app-products-list>
    <app-customer-info
      [customerId]="orderGenerated?.id || ''"
    ></app-customer-info>
    <app-order-state [orderState]="orderGenerated?.state || ''"></app-order-state>
    <div class="order--total">
      <h2 class="value--order">Total: {{ total | currency }}</h2>
    </div>
    <div class="order--button">
      <a mat-raised-button color="primary" routerLink="/home">Go to Home</a>
      <a mat-raised-button color="warn"routerLink="/home/dashboard">Show my orders</a>
  </div>
</div>

