<div class="sign--container">
    <app-title-page [title]="'Customer information'"></app-title-page>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="sign--form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.errors && email?.touched"
        >"Type a rigth email"</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="name?.errors && name?.touched"
        >"Type your name"</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="lastName?.errors && lastName?.touched"
        >"Type your lastName"</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="address?.errors && address?.touched"
        >"Type your address"</mat-error
      >
    </mat-form-field>
  </form>
</div>
