.product-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

h2{
    color: white;
    background: rgb(88,87,106);
    background: linear-gradient(90deg, rgba(88,87,106,1) 0%, rgba(121,65,156,1) 35%);
    border-radius: 10px;
    padding: 4px;
}